
@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #4b4b4b;
  height: 100vh;
  font-family: 'Lato';

}

/**Primeira fase**/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #000000;
    min-height: 50px;
    color: #fff;
    position:fixed;
    width:100%;
    margin-top:0px;
    top:0px;
}

.bo-img-logo{
  height: 100%;
}

.img-logo {
  width: 100%;
  height: 86px;
}

.capa{
  width: 100%;
  height: 750px;
}
/*padrão para smartphones*/

#botao-hamburg-abre{
    font-size:5vw;
    cursor:pointer;
    position:absolute;
    display: block;
    top:30%;
    margin-top:30%;
}

#botao-hamburg-fecha{
      font-size:5vw;
      cursor:pointer;
      position:absolute;
      display: none;
      top:30%;
      margin-top:30%;
    }
    
.nav-links{ /*configurando o link que está dentro da navegação*/
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: 25px;
    visibility:hidden;
}

#menu-lateral
{
  background-color:rgb(0, 0, 0);
  color:rgb(255,255,255);
  z-index:1;
  left:0px;
  margin-left:0px;
  top:25%;
  margin-top:25%;
  visibility:hidden;
  width:0%;
  position: fixed;
  z-index:5;
  border-radius: 0px 0px 10px 10px;

}

#menu-lateral ul li a
{
  display:block;
  padding:15px;
  font-size:20px;
  text-decoration:none;
  color:rgb(255,255,255);
  
}
#menu-lateral ul li a:visited
{
  color:rgb(255,255,255);
} 

.box-pesquisar{
  display: flex;
  gap:1rem;
}

.icone-pesquisar{
  background-color: #ffffff;
  height: 30px;
  border-radius: 4px;
}


/**Segunda fase**/

main{
    display: flex;
    flex-direction: column;
}

.box-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 120px;
    margin-top: 30px;
    background-color: #000000;
    min-height: 50px;
    color: #ffffff;

}

.box-profile > h2{
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: #000000
}

.box-profile > p {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 2px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;;
}

.box-profile > img {
  width: 350px;
  height:350px;
  display: flex;
  border-radius: 50px;
}

strong {
  color: aqua;
}

.box-beneficio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 90px;
    background-color: #4b4b4b;
    min-height: 50px;
    padding-bottom: 52px;
    color: #ffffff;

}

.box-beneficio > h2{
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: #000000;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.box-beneficio > p {
  font-size: 2rem;
  text-align: justify;
  letter-spacing: 2px;

  
  
}
.box-beneficio > img {
  width: 350px;
  height:350px;
  display: flex;
  border-radius: 50px;
  margin-top: 45px;
}

.box-atividades{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 120px;
    background-color: #000000;
    min-height: 50px;
    color: #ffffff;
    margin-top: 20px;
}

.box-atividades > h2{
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: #000000
}

.box-atividades > p {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 2px;
  padding-bottom: 42px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;;
}

.box-atividades > img {
  width: 350px;
  height:350px;
  display: flex;
  border-radius: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.box-planos {
  display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 90px;
    background-color: #4b4b4b;
    min-height: 50px;
    padding-bottom: 52px;
    color: #ffffff;
 }

 .box-planos h1 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: #000000;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
 }

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 27px;
  z-index: -2;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card-container{
  margin: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

.card-content h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #333;
}

.card-content p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: #0077ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #005fd1;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #000000;
    min-height: 50px;
    color: #fff;
}

.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #000000;
    min-height: 50px;
    color: #ffffff;

}

.form > h2{
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  background-color: #000000
}

.form > p {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 2px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;;
}

.form > img {
  width: 500px;
  height:500px;
  display: flex;
  border-radius: 50px;
}

.icones{
  display: flex;
  gap: 30px;
}

@media only screen and (min-width:650px)
{
    #botao-hamburg-abre{
      display: none;
    }

    .nav-links{
      visibility: visible;
    }

    .box-beneficio > img{
      width: 400px;
      height:400px;
    }

    .box-atividades  .post1{
      width: 400px;
      height:400px;
    
    }
}

.formulario {  /*div que engloba o formulário*/
  background-color: #000000;
  padding: 150px;
  color: rgb(255, 0, 0);
  font-family: "Segoe UI", Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  .formulario form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgb(255, 0, 0);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
}

 .formulario form fieldset 
{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
    padding: 20px;
}

.formulario form fieldset div 
{
    margin-bottom: 15px;
    display: inline-flexbox;
    flex-direction: column;
}

.formulario form fieldset legend 
{
    padding: 0 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}





